$sans-font: 'PT Sans', sans-serif;
$serif-font: 'PT Serif', serif;
$open-font: 'Open Sans', sans-serif;
/*$violet-color: #5A497D;*/
/*$violet-color: #404080;*/
$violet-color: #5050ea;
$blue-hover-color: #5b5bf6;
$grey-color: #E8EBF2;
$grey2-color: #8e929b;
$dark-color: #3c3c3c;
$text-color: #335c67;
$red-color: #fb4e72;
$red2-color: #FF7074;
$yellow-color: #ffc624;
$green-color: #2BD8BC;
$green2-color: #42DA8D;
$blue-color: #839DFE;
$blue2-color: #1161EE;
$cyan-color: #2de1fc;
$bg-color: #F4F5F9;
$width-med: 1000px;